<h1>Rendering Table from JSON Data</h1>
<span>How many rows you want to show?</span> &nbsp;
<input
  type="number"
  name="myInput"
  placeholder="Enter the Row value"
  [(ngModel)]="rowsPerPage"
/>
<div class="pane pane--table1">
  <div class="pane-hScroll">
    <table id="users">
      <thead>
        <tr class="header">
          <th *ngFor="let menu of columns">
            <div>{{ menu }}</div>
          </th>
          <th>Button</th>
        </tr>
      </thead>
    </table>
    <div class="pane-vScroll">
      <table>
        <tbody>
          <tr
            *ngFor="
              let menu of mainmenu
                | paginate
                  : {
                      id: 'listing_pagination',
                      itemsPerPage: rowsPerPage,
                      currentPage: page,
                      totalItems: totalRec
                    }
            "
          >
            <td *ngFor="let rowName of index">
              {{ menu[rowName] }}
            </td>
            <td>
              <button type="button" (click)="postData(menu)">Submit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
  <pagination-controls
    id="listing_pagination"
    maxSize="5"
    directionLinks="true"
    (pageChange)="page = $event"
    class="navigation"
  ></pagination-controls>
</div>

<!-- <h1>hi {{ datas }}</h1>

<ul class="navbar-nav ml-auto">
  <li class="nav-item" *ngFor="let menu of mainmenu">
    <a class="nav-link" href="{{ menu.email }}"
      >{{ menu.name }} {{ menu.email }}</a
    >
    <ul class="sub_menu" *ngIf="menu.children && menu.children.length > 0">
      <li *ngFor="let sub_menu of menu.children">
        <a class="nav-link" href="{{ sub_menu.email }}"
          ><img src="{{ sub_menu.city }}" class="nav-img" />
          {{ sub_menu.status }}</a
        >
      </li>
    </ul>
  </li>
</ul> -->

<script>
  $(".pane-hScroll").scroll(function() {
    $(".pane-vScroll").width(
      $(".pane-hScroll").width() + $(".pane-hScroll").scrollLeft()
    );
  });

  // Example 2
  $(".pane--table2").scroll(function() {
    $(".pane--table2 table").width(
      $(".pane--table2").width() + $(".pane--table2").scrollLeft()
    );
  });
</script>
